#myForm {
  background-color: #38B1E6;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}


#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}